{% extends 'base.html' %}
{% block title %}
Cart
{% endblock %}
{% block content %}
<div class="container-fluid p-5 mb-5" style="height: auto;">
    <h1 class="text-center pb-3">Orders in Cart</h1>
    <div class="form-control">
            <div class="col-md-12 mx-auto">
                    {% if not cart.product.all %}
                    <div class="text-center p-5">
                        <h3>No products in your cart</h3>
                    </div>
                    {% else %}
                    <p class="text-center"> Choose the options to select color and size and checkout </p>
                    <form method="post" id="mainForm" action="{% url 'checkout' %}">
                    {% for product in cart.product.all %}
                        <div class="row p-5">
                            <input type="checkbox" class="form-check-input me-2 col-md-1 align-items-center" id="checkbox{{ product.id }}" name="items" value="{{ product.id }}" >
                            <div class="col-md-4">
                                <img src="{{ product.picture.url }}" style="width: 100%; height: auto;" alt="{{ product.name }}">
                            </div>
                            <div class="col-md-3">
                                <div>
                                    {% load custom_filters %}
                                    <span class="btn btn-success rounded-pill">ETB {{ product.price| to_int}}</span>
                                </div>
                                <h5 class="card-title pb-3 pt-2">{{ product.name }}</h5>
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="col-md-4">
                                <!-- <form class="col-9 text-center" method="POST" action="{% url 'order'  product.id %}"> -->
                                    {% csrf_token %}
                                    <div class="form-group p-3 d-flex flex-wrap flex-row justify-content-around">
                                        <label class="mx-3" for="size-options">Color: </label>
                                        <div class="size-options d-flex flex-wrap" id="color-select">
                                            {% for color in product.available_colors.all %}
                                                <input type="radio" id="size-{{color.name}}-{{ product.id}}" name="{{product.id}}-color" value="{{color.id}}">
                                                <label for="size-{{color.name}}-{{ product.id}}" style="background-color: {{color.hex_value}}; padding: 15px 25px 15px;"></label>
                                            {% endfor %}
                                
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group p-3 d-flex flex-row flex-wrap justify-content-around">
                                        <label class="mx-3" for="size-options">Size: </label>
                                        <div class="size-options d-flex flex-wrap" id="size-select">
                                            {% for size in product.size.all %}
                                                <input type="radio" id="size-{{size.short_letter}}-{{ product.id}}" name="{{product.id}}-size" value="{{size.id}}">
                                                <label for="size-{{size.short_letter}}-{{ product.id}}">{{size.short_letter}}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- <div class="row mt-2 mb-3 justify-content-center">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-dark rounded-pill w-50 w-md-25" type="submit" /button>
                                        </div>
                                    </div>
                                </form> -->
                            </div>
                        </div>
                        <hr>
                            
                        
                            
                       
                        
                        <!-- <div class="accordion-item p-3">
                            <div class="accordion-header">
                                <input type="checkbox" class="form-check-input me-2 col-2 align-items-center" id="checkbox{{ forloop.counter }}" name="items" value="{ id}}">
                                <label for="checkbox{{ forloop.counter }}" class="form-check-label col-10">
                                    <button class="accordion-button collapsed col-12" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
                                        {{ product }}
                                    </button>
                                </label>
                            </div>
                            <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="text-center">
                                        {{ product.description }}
                                    </div>
                                    <form id="insideForm" method="post" action="">
                                        <div class="form-group mb-3">
                                            <label for="productName" >Product</label>
                                            <input type="text" class="form-control" id="productName" name="productName" value="{{ product }}" readonly>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="productName" >Color </label>
                                            <select class="form-control" name="{ product.id}}_color" id="color">
                                                {% for color in product.available_colors.all %}
                                                    <option value="{{color.id}}">{{color.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="productName" >Size </label>
                                            <select class="form-control" name="{ product.id}}_size" id="size">
                                                {% for size in product.size.all %}
                                                    <option value="{{size.id}}">{{size.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div> -->
                    {% endfor %}
                    <div class=" text-center p-3">
                        <button type="submit" class="btn btn-dark">Checkout</button>
                    </div>
                </form>
                {% endif %}
            </div>

    </div>
</div>


<!-- Popup -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <div class="col-md-12 d-flex justify-content-between align-items-center">
                    <h5 class="modal-title" id="orderModalLabel">Order Product</h5>
                    <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form id="modalForm" method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="productName" >Product Name</label>
                        <input type="text" class="form-control" id="productName" name="productName" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="productName" >Color </label>
                        <select class="form-control" name="color" id="color"></select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="productName" >Size </label>
                        <select class="form-control" name="size" id="size"></select>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success px-4" type="submit">Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>

    $('document').ready(function () {
        $('#mainForm').on('submit', function(event) {

        })

        $('#orderModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var productId = button.data('product_id'); // Extract product ID from data-* attributes


            // Make an AJAX request to fetch the product data
            $.ajax({
                url: '{% url "get_product_data" 0 %}'.replace('0', productId),
                method: 'GET',
                success: function(data) {
                    // Populate the modal with the received data
                    $('#orderModalLabel').text('Order ' + data.name);
                    $('#productName').val(data.name);

                    // Populate colors
                    var colorSelect = $('#color');
                    colorSelect.empty();
                    $.each(data.available_colors, function(index, color) {
                        colorSelect.append($('<option>', {
                            value: color.name,
                            text: color.name
                        }));
                    });

                    // Populate sizes
                    var sizeSelect = $('#size');
                    sizeSelect.empty();
                    $.each(data.sizes, function(index, size) {
                        sizeSelect.append($('<option>', {
                            value: size.name,
                            text: size.name
                        }));
                    });

                    var actionUrl = "{% url 'order_for_cart' 0  'True' %}".replace('0', productId)

                    // Set the form action
                    var modalForm = $('#modalForm');
                    modalForm.attr('action', actionUrl);
                },
                error: function(xhr, status, error) {
                    console.error('AJAX request failed:', status, error);
                }
            });
        });

        $('#mainForm').change(function(){
            const products = JSON.parse('{{ cart_json|safe }}');

            products.forEach(function(product) {
                if ($('input[name="' + product.id + '-size"]:checked').length > 0 && $('input[name="' + product.id + '-color"]:checked').length > 0) {
                    console.log('checked' + product.id);
                    $('#checkbox' + product.id).prop('checked', true);
                }
            
        })
        })

})

</script>

{% endblock%}