{% extends 'base.html' %}
{% block title %}
Express Yourself
{% endblock %}
{% block content %}
<nav style="height: 50px;" class="navbar navbar-expand-lg bg-body-secondary sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#catNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="catNav">
            <div class="d-flex flex-column flex-lg-row align-items-start">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_orders' %}">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Top Picks</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Categories
                        </a>
                        {% if not categories %}
                               <a href="#">No Categories</a>
                        {% else %}
                        <ul class="dropdown-menu dropdown-menu-end overflow-auto" style="height: 30vh;" id="categories">
                            
                            {% for category in categories %}
                                <li>
                                    <a class="dropdown-item" data-category_id="{{ category.id }}" href="#">
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container" style="height: auto;">
    <div class="row p-2 h-100 overflow-auto hide-scrollbar">
        <div class="col-lg-12">
            <!-- Products -->
            <h1>Products available</h1><hr>
                <div class="row row-cols-2 row-cols-lg-4 row-cols-sm-2 g-2" id="products">
                    {% for product in products %}
                    <div class="col">
                            <a href="{% url 'order' product.id %}" style="text-decoration: none;">
                                <div class="card" style="position: relative;">
                                    <div style="display: block; z-index: 100; position: absolute; top: 8px; right: 8px;">
                                        {% load custom_filters %}
                                        <span class="btn btn-warning rounded-pill">ETB {{product.price| to_int}}</span>
                                    </div>
                                    <img src="{{ product.picture.url }}" class="card-img-top" style="width: 100%; height: auto;" alt="{{ product.name }}">
                                    <hr class="card-hr">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        {% load custom_filters %}
                                        <p class="card-text">{{ product.description| excerpt }}</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6" style="width: 100%;">
                                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                                    {% csrf_token %}
                                                    <button class="btn btn-dark rounded-pill w-100" type="submit"><i class="bi bi-cart bi-5x"></i> Add to Cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

        const products = $('#products');
        const categories = $('#categories a');

        categories.each(function (index, element) {
            $(element).click(function(event) {
                event.preventDefault();
                const val = $(this).data('category_id');

                categories.removeClass('active');
                $(this).addClass('active');

                $.ajax({
                    url: `${window.location.origin}/filter_by_category/${val}`,
                    method: 'GET',
                    success: function(response) {
                            products.empty();
                            response.products.forEach(function(product) {
                                const csrf_token = getCookie('csrftoken');
                                const product_url = "{% url 'signup' %}";
                                console.log('Success');
                                console.log(product.description.replace(/\n/g, '<br>'));
                                const productHtml = `
                                    <div class="col">
                                        <a href="/order/${product.id}" style="text-decoration: none;">
                                            <div class="card" style="position: relative;">
                                                <div style="display: block; z-index: 100; position: absolute; top: 8px; right: 8px;">
                                                    <span class="btn btn-warning rounded-pill">ETB ${product.price}</span>
                                                </div>
                                                <img src="${product.picture}" class="card-img-top" style="width: 100%; height: auto;" alt="${product.name}">
                                                <hr class="card-hr">
                                                <div class="card-body">
                                                    <h5 class="card-title">${product.name}</h5>
                                                    <p class="card-text">${product.description.replace(/\n/g, '<br>')}</p>
                                                    <div class="row justify-content-center">
                                                        <div class="col-6", style="width: 100%;">
                                                            <form method="post" action="/add-to-cart/${product.id}/">
                                                                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
                                                                <button class="btn btn-dark w-100 rounded-pill" type="submit"><i class="bi bi-cart bi-4x"></i> Add to Cart</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>`;
                                        
                                products.append(productHtml);
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error('AJAX Error:', status, error);
                            products.html('An error occurred while loading products.');
                        }

                })
            })
        })

        $('#orderModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var productId = button.data('product_id'); // Extract product ID from data-* attributes


            // Make an AJAX request to fetch the product data
            $.ajax({
                url: '{% url "get_product_data" 0 %}'.replace('0', productId),
                method: 'GET',
                success: function(data) {
                    // Populate the modal with the received data
                    $('#orderModalLabel').text('Order ' + data.name);
                    $('#productName').val(data.name);

                    // Populate colors
                    var colorSelect = $('#color');
                    colorSelect.empty();
                    $.each(data.available_colors, function(index, color) {
                        colorSelect.append($('<option>', {
                            value: color,
                            text: color
                        }));
                    });

                    // Populate sizes
                    var sizeSelect = $('#size');
                    sizeSelect.empty();
                    $.each(data.sizes, function(index, size) {
                        sizeSelect.append($('<option>', {
                            value: size,
                            text: size
                        }));
                    });

                    var actionUrl = "{% url 'order' 0 %}".replace('0', productId);

                    // Set the form action
                    var modalForm = $('#modalForm');
                    modalForm.attr('action', actionUrl);
                },
                error: function(xhr, status, error) {
                    console.error('AJAX request failed:', status, error);
                }
            });
        });
});
</script>
{% endblock %}
