{% extends 'base.html'%}
{% block content%}
    
    <form method="post" action="/login/">
        {% csrf_token %}
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
        <div class="row">
          <div class="col-md-6 mx-auto">
            <h2>Login</h2>
            <div class="form-floating mb-3">
              <input type="text" class="form-control mb-3" id="floatingInput" placeholder="name@example.com" name="username">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control mb-3" id="floatingPassword" placeholder="Password" name="password">
              <label for="floatingPassword">Password</label>
            </div>
            <button type='submit' class="btn btn-primary">Submit</button>
          </div>
        </div>
    </form>
    
{% endblock %}