{% extends 'base.html' %}
{% block title %}
Order
{% endblock %}

{% block content %}
<div class="container p-5" style="height: auto;">
    <div class="row justify-content-between">
        <div class="col-12 col-lg-3 h-100">
            <img src="{{product.picture.url}}" class="img-fluid" alt="{{product.name}}'s picture">
        </div>
        <div class="col-12 col-lg-8 align-items-center">
            <div class="row">
                <h1 class="flex flex-column">{{product.name}}
                    <div class="star-rating">
                        {% load custom_filters %}
                        {% with rating=product.rating|to_int %}
                            {% for i in "54321" %}
                                {% if rating|to_int >= i|to_int %}
                                    <input type="radio" id="star{{ i }}" value="{{ i }}" disabled checked>
                                {% else %}
                                    <input type="radio" id="star{{ i }}" value="{{ i }}" disabled>
                                {% endif %}
                                <label for="star{{ i }}">&#9733;</label>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </h1>
                <span class="badge bg-light text-dark w-auto">{{product.category.name}}</span>
                <h1>ETB {{product.price}}</h1>
                <p>{{product.description}}</p> 
            </div>
            <div class="row justify-content-center bg-light">
                <form class="col-9 text-center" method="POST" action="{% url 'order' product.id %}">
                    {% csrf_token %}
                    <div class="form-group p-3 d-flex flex-row justify-content-around">
                        <label class="mx-3" for="size-options">Color: </label>
                        <div class="size-options">
                            {% for color in product.available_colors.all %}
                                <input type="radio" id="size-{{color.name}}" name="color" value="{{color}}">
                                <label for="size-{{color.name}}" style="background-color: {{color.hex_value}}; padding: 15px 25px 15px;"></label>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group p-3 d-flex flex-row justify-content-around">
                        <label class="mx-3" for="size-options">Size: </label>
                        <div class="size-options">
                            {% for size in product.size.all %}
                                <input type="radio" id="size-{{size.short_letter}}" name="size" value="{{size}}">
                                <label for="size-{{size.short_letter}}">{{size.short_letter}}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-2 mb-3 justify-content-center">
                        <div class="col-12 text-center">
                            <button class="btn btn-dark rounded-pill w-50 w-md-25" type="submit">Order</button>
                        </div>
                    </div>
                </form>
                <div class="col-12 mb-3 text-center">
                    <div class="col-12">
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <button class="btn btn-dark rounded-pill w-50 w-md-25" type="submit"><i class="bi bi-cart bi-5x"></i>  Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <h1>Related Products</h1>
            <hr>
            <div class="row row-cols-2 row-cols-lg-3 row-cols-sm-2 g-2" id="products">
                {% for p in products %}
                {% if p != product %}
                <div class="col">
                        <a href="{% url 'order' p.id %}" style="text-decoration: none;">
                            <div class="card" style="position: relative;">
                                <div style="display: block; z-index: 100; position: absolute; top: 8px; right: 8px;">
                                    <span class="btn btn-warning rounded-pill">ETB {{product.price}}</span>
                                </div>
                                <img src="{{ p.picture.url }}" class="card-img-top" style="width: 100%; height: auto;" alt="{{ p.name }}">
                                <hr class="card-hr">
                                <div class="card-body">
                                    <h5 class="card-title">{{ p.name }}</h5>
                                    <p class="card-text">{{ p.description }}</p>
                                    <div class="row justify-content-center">
                                        <div class="col-6" style="width: 100%;">
                                            <form method="post" action="{% url 'add_to_cart' p.id %}">
                                                {% csrf_token %}
                                                <button class="btn btn-dark w-100 rounded-pill" type="submit"><i class="bi bi-cart bi-5x"></i> Add to Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                </div>
                {% else %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

