{% extends 'base.html'%}
{% block content%}
    <div class="col-lg-6 mx-auto p-5">
      <form class="form-control p-5" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="text-center">Login</h2>
        <div class="form-floating mb-2">
          <label for="{{ form.username.id_for_label }}">Username</label>
          {{ form.username }}
          {% if form.username.errors %}
              <div class="invalid-feedback d-block">
                  {{ form.username.errors.0 }}
              </div>
          {% endif %}
        </div>

        <div class="form-floating mb-2">
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.password.errors.0 }}
                </div>
            {% endif %}
        </div>
        <!-- <div class="row">
          <div class="col-md-10 mx-auto">
            <h2 class="text-center p-2 mb-3">Login</h2>
            {% if error %}
              <p class="alert alert-danger text-center">{{ error }}</p>
            {% endif %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control mb-3" id="floatingInput" placeholder="name@example.com" name="username">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control mb-3" id="floatingPassword" placeholder="Password" name="password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="text-center mb-4">
              <a href="{% url 'signup' %}">Don't have an account? Sign up.</a>
            </div>
            
        </div> -->
        <div class="form-floating text-center">
          <button type='submit' class="btn btn-dark px-5">Log in</button>
        </div>
      </div>
    </form>
    </div>
    
{% endblock %}