{% extends 'base.html' %}
{% block title %}
Verify Phone
{% endblock %}
{% block content%}
<div class="container">
    <form method="post" action="{% url 'verify_phone' %}">
        {% csrf_token %}
        <div class="form-control">
            <input type="hidden" name="phone_number" value="{{ phone_number }}">
            <input type="hidden" name="user_id" value="{{ id }}">
            <input type="hidden" name="role" value="{{ role }}">
            <label for="otp">Enter the code sent to {{phone_number}}</label>
            <input class="form-group" type="text" name="code">
        </div>
        <button type="submit">Verify</button>
    </form>
</div>
{% endblock %}