{% extends 'base.html' %}
{% block title %}
    Signup
{% endblock %}
{% block content %}
    
    <div class="col-lg-6 mx-auto p-5">
        
        <form class="form-control px-5 pb-5" method="post" action="{% url 'signup' %}">
            <h2 class="text-center pt-0">Signup</h2>
            <p class="p-0 m-0 text-center h-25">to</p>
            <div class="text-center mb-0 mt-0">
                <img src="{{MEDIA_URL}}logo.png" style="max-height: 10%; width: 120px;" alt="Logo">
            </div>
            {% csrf_token %}
            
                <div class="form-floating mb-3">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">Email Address</label>
                </div>
                {% if form.email.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.email.errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.phone_number }}
                    <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                </div>
                {% if form.phone_number.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.phone_number.errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.first_name }}
                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                </div>
                {% if form.first_name.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.first_name.errors.0 }}
                    </div>
                {% endif %}
                
                <div class="form-floating mb-3">
                    {{ form.last_name }}
                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                </div>
                {% if form.last_name.errors %}
                    <div class="error mb-2 text-danger mx-4 text-danger">
                        {{ form.last_name.errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">Username</label>
                </div>
                {% if form.username.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.username.errors.0 }}
                    </div>
                {% endif %}
            
                <div class="form-floating mb-3" style="position: relative;">
                    {{ form.password }}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    <button type="button" onclick="togglePassword('id_password')" class="btn btn-secondary btn-sm" style="position: absolute; top: 25%; right: 5%; background: none; border: none;"><i class="bi bi-eye-fill fs-5"></i></button>
                </div>
                {% if form.password.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.password.errors.0 }}
                    </div>
                {% endif %}
            
                <div class="form-floating mb-3" style="position: relative;">
                    {{ form.password2 }}
                    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                    <button type="button" onclick="togglePassword('id_password2')" class="btn btn-secondary btn-sm" style="position: absolute; top: 25%; right: 5%; background: none; border: none;"><i class="bi bi-eye-fill fs-5"></i></button>
                </div>
                {% if form.password2.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.password2.errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.role }}
                    <label for="{{ form.role.id_for_label }}">Select Role</label>
                </div>
                {% if form.role.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.role.errors.0 }}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="text-danger text-center">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

            <div class="text-center mb-4">
                <a href="{% url 'login' %}">Already have an account? Log in.</a>
            </div>

            <div class="row">
                <div class="col-md-12 text-center mt-3">
                    <button class="btn btn-dark px-5" type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
<script>
    function togglePassword(fieldId) {
        var passwordField = document.getElementById(fieldId);
        var button = document.querySelector(`[onclick="togglePassword('${fieldId}')"]`);
        
        if (passwordField.type === "password") {
            passwordField.type = "text";
            button.innerHTML = '<i class="bi bi-eye-slash-fill fs-5"></i>';
        } else {
            passwordField.type = "password";
            button.innerHTML = '<i class="bi bi-eye-fill fs-5"></i>';
        }
    }
</script>
{% endblock %}