{% extends 'base.html' %}
{% block title %}
    Signup
{% endblock %}
{% block content %}
    
    <div class="col-lg-6 mx-auto p-5">
        
        <form class="form-control p-5" method="post" action="{% url 'signup' %}">
            <h2 class="text-center mb-4">Signup</h2>
            {% csrf_token %}
            
                <div class="form-floating mb-3">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">Email Address</label>
                </div>
                {% if form.email.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.email.errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.phone_number }}
                    <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                </div>
                {% if form.phone_number.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.phone_number.errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.first_name }}
                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                </div>
                {% if form.first_name.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.first_name.errors.0 }}
                    </div>
                {% endif %}
                
                <div class="form-floating mb-3">
                    {{ form.last_name }}
                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                </div>
                {% if form.last_name.errors %}
                    <div class="error mb-2 text-danger mx-4 text-danger">
                        {{ form.last_name.errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">Username</label>
                </div>
                {% if form.username.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.username.errors.0 }}
                    </div>
                {% endif %}
            
                <div class="form-floating mb-3">
                    {{ form.password }}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                </div>
                {% if form.password.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.password.errors.0 }}
                    </div>
                {% endif %}
            
                <div class="form-floating mb-3">
                    {{ form.password2 }}
                    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                </div>
                {% if form.password2.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.password2.errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    {{ form.role }}
                    <label for="{{ form.role.id_for_label }}">Select Role</label>
                </div>
                {% if form.role.errors %}
                    <div class="error mb-2 text-danger mx-4">
                        {{ form.role.errors.0 }}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="text-danger text-center">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

            
                
            <!-- <div class="col-md-10 mx-auto">
                <h2 class="mb-5 text-center">Sign Up</h2>
                {% if error %}
                    <p class="alert alert-danger text-center">{{ error }}</p>
                {% endif %}
                {% csrf_token %}
            
                <div class="form-floating mb-3">
                    <input type="text" id="username" name="username" class="form-control mb-4" required>
                    <label for="username" class="form-floating mb-4">Username:</label>
                </div>
                <div class="form-floating">
                    <input type="email" id="email" name="email" class="form-control mb-4" required>
                    <label for="email" class="form-group mb-4">Email:</label>
                </div>
                <div class="form-floating">
                    <input type="number" id="phone_number" name="phone_number" class="form-control mb-4" required>
                    <label for="phone_number" class="form-group mb-4">Phone Number:</label>
                </div>
                <div class="form-floating">
                    <input type="password" id="password1" name="password1" class="form-control mb-4"required>
                    <label for="password1" class="form-group mb-4">Password:</label>
                </div>
                    
                <div class="form-floating">
                    <input type="password" id="password2" name="password2" class="form-control mb-4" required>
                    <label for="password2" class="form-group mb-4">Confirm Password:</label>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <label>Select role</label>
                    </div>
                    <div class="col-md-12 form-group mb-4">
                        <select name="role" class="form-control" id="">
                            <option value="Buyer">Buyer</option>
                            <option value="Seller">Seller</option>
                        </select>
                    </div>
                    
                </div>
            </div>
            
            
             -->
            <div class="text-center mb-4">
                <a href="{% url 'login' %}">Already have an account? Log in.</a>
            </div>

            <div class="row">
                <div class="col-md-12 text-center mt-3">
                    <button class="btn btn-dark px-5" type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
