{% extends 'base.html' %}
{% block title %}
    User Profile
{% endblock %}
{% block content%}
    <h1>User Profile</h1>
    {% if profile %}
        <p>Username: {{ profile.user.username }}</p>
        <p>Email: {{ profile.user.email }}</p>
        <p>Phone Number: {{ profile.user.phone_number }}</p>
        {% if profile.picture %}
            <p><img src="{{ profile.picture.url }}" alt="Profile Image" width="200" height="200"></p>
        {% else %}
            <p>No profile image.</p>
        {% endif %}
    {% else %}
        <p>No profile information available.</p>
    {% endif %}
{% endblock %}