<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Home
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav>
            <h1>Express Yourself</h1>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button>Logout</button>
            </form>
            {% url 'view_profile' as view_profile %}
            {% if request.path == view_profile %}
                <a href="{% url 'home' %}">Home</a>
            {% elif request.path == home %}
                <a href="{% url 'view_profile' %}">View Profile</a>
            {% else %}
                <a href="{% url 'home' %}">Home</a><br>
                <a href="{% url 'view_profile' %}">View Profile</a>
            {% endif %}
                <br><a href="{% url 'view_cart' %}">View Cart</a>
            {% else %}
            <a href="{% url 'login' %}" class="button">Login</a><br>
            <a href="{% url 'signup' %}" class="button">Signup</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        
            
        {% endblock %}
        <br>
    </main>
    <footer>
        <p>&copy; 2024 My Site</p>
</footer>
{% block scripts %}
{% endblock %}
</body>
</html>